body{
    background-color: #FAFAFA;
    margin: 0;
    
}

nav{
    background-color: #FFF;
    height: 3.3em;
    line-height: 3.3em;
    padding: 0 13.5em;
    border-bottom: 0.1px solid #DBDBDB;
}

.logo{
    text-decoration: none;
}

.logo>img{
    vertical-align: middle;
}

.search{
    background: #FAFAFA;
    margin-left: 19em;
    height: 1.9em;
    width: 15.5em;
    border: 1px solid #DBDBDB;
}

.search::placeholder{
    text-align: center;
    color: #bb9caa;
}

.nav-links{
    margin-left: 8em;
}

.nav-links>a{
    margin-left: 1em;
}

.nav-links i{
    transform: scale(1.6);
    color: #252525;
    vertical-align: middle;
}