body{
    background-color: #FAFAFA;
    margin: 0;
    
}

nav{
    background-color: #FFF;
    height: 3.3em;
    line-height: 3.3em;
    padding: 0 13.5em;
    border-bottom: 0.1px solid #DBDBDB;
}

.logo{
    
}